@model IEnumerable<e3net.Mode.TireTreasureDB.TT_Transaction>

<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>3W联盟</title>


<link href="../../Content/css/price_list.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


    
     @section Jsprepare{

         <script type="text/javascript">
        
          jQuery(document).ready(function () {
         
          })
           

            </script>
         }
</head>
<body>
<div class="container">
<!-- top nav -->
<div class="row">
  <div class="col-xs-12 top-parent-box">
    <a class="col-xs-6 top-child-box" href="/VipShop"><div class=""><img class="center-block" src="../../Content/images/left.png" alt=""></div></a>
    <!-- <a class="col-xs-6 top-child-box" href="#"><div class="box-right"><img class="center-block" src="images/plus.png" alt=""></div></a> -->
  </div>
</div>
<!-- main -->
<div class="row main">

      @foreach (var item in Model)
      { 
        <div class="col-xs-12">
    <div class="col-xs-4">
      <a class="img-box" href="#"><img src="@item.ImageUrl" alt=""></a>
    </div>
    <div class="col-xs-4">
      <div class="text-box">
        <p>@item.Title</p>
        <p>@item.Price</p>
        <p>@item.Details</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-box">
        <p>@item.Stock 件 </p>
        <a class="btn btn-default btn-success" href="#" role="button">立即购买</a>
      </div>
    </div> 
  </div><!-- /.col-xs-12  -->
      
      
      
      }




</div><!-- /.row  -->


</div><!-- /.container  -->


</body>
</html>