@model e3net.Mode.TireTreasureDB.TT_Transaction

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<fieldset>
    <legend>TT_Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShopId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShopId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Models)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Models)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProvinceCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProvinceCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AreaCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AreaCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CallCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CallCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Praises)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Praises)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clicks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clicks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Versions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Versions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.States)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.States)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isValid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isValid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
